/**
 * Place your custom styles here.
 */



.login-layout .page-content {
    background-color: transparent;
}

/*.login-layout .region.region-header
{
display: none;    
}*/

.blue
{
    color: #478fca!important;   
}
.form-control {
    /*display: inline-block;*/
     width: 100% !important; 
    /*vertical-align: middle;*/
}

/*.login-layout .region.region-header
{
display: none;    
}*/

.modal-header {
    background-color: #438eb9;
    font-family:Helvetica Neue;
        padding-top: 4px;
    padding-bottom: 5px;
}


.bootbox-close-button{
    color: white;
}
.custom_padding{
    padding:0px;
}


label.btn.btn-default.active {
    background-color: #337AB7 !important;
}
.custom_weekdays
{
     width: 128% !important;
    padding-left: 0px !important;
}


h1.js-quickedit-page-title.page-header {
    color: #2C7659 !important;
    text-align: center;
}
#daily_weekdays{
    padding-left: 0px;
}


/*For representing data in block format-written by susmitha*/
.custom_box_shadow{
    background-color: white !important;
    box-shadow: -4px -1px 10px #d6d6d6 !important;
    border: 1px solid #d6d6d6 !important;
    border-radius: 1px !important;
    padding-top: 8px !important;
    padding-right: 12px !important;
    padding-left: 12px !important;
    margin-bottom: 7px;
    font-weight:bold;

}
   
   
   
.col-md-4
{
        padding-top: 5px;
    padding-bottom: 5px;
}

.transparent {
    background-color: transparent;
}

#left-border-none {
    border-left-color: transparent;
}
#left-right-border-none {
    border-left-color: transparent;
    border-right-color: transparent;
}



.background-light-green
{
    background-color: #b0d877 !important;
}

.padding-left-20
{
         padding-left: 20px !important; 
}
.padding-left-0
{
         padding-left: 0px !important; 
}
.padding-right-0
{
         padding-right: 0px !important; 
}

.profile-picture>div>a>img {
    border-radius: 50%;
}

.profile-user-info-striped{
    border: none !important;
}


.custom_success_circle{
    color:#327663;
}

.custom_primary_circle{
    color:#286090;
}

.custom_danger_circle{
    color:#C9302C;
}
.custom_fa-2x {
    font-size: 22px !important;
}


.intl-tel-input .country-list

{
    z-index: 999;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}



.custom-icon-tablet {
    background-image: url(/assets/Medical_icons/tablet.png);
    height: 32px;
    width: 38px;
    background-repeat: no-repeat;
    /*margin: 11px;*/
}

.custom-icon-capsule {
    background-image: url(/assets/Medical_icons/capsule.png);
    height: 30px;
    width: 38px;
    background-repeat: no-repeat;
    /*margin: 11px;*/
}

.custom-icon-injection {
    background-image: url(/assets/Medical_icons/injection.png);
    height: 30px;
    width: 38px;
    background-repeat: no-repeat;
    /*margin: 11px;*/
}

.custom-icon-syrup {
    background-image: url(/assets/Medical_icons/syrup1.png);
    height: 32px;
    width: 38px;
    background-repeat: no-repeat;
    /*margin: 11px;*/
}
.custom-icon-suspension {
    background-image: url(/assets/Medical_icons/suspension.png);
    height: 30px;
    width: 38px;
    background-repeat: no-repeat;
    /*margin: 11px;*/
}
.custom-icon-lotion {
    background-image: url(/assets/Medical_icons/lotion.png);
    height: 30px;
    width: 38px;
    background-repeat: no-repeat;
    /*margin: 11px;*/
}
/*.custom-icon-others {
    background-image: url(/assets/Medical_icons/others.png);
    height: 30px;
    width: 38px;
    background-repeat: no-repeat;
    margin: 11px;
}*/

.custom-icon-cream {
    background-image: url(/assets/Medical_icons/cream.png);
    height: 30px;
    width: 38px;
    background-repeat: no-repeat;
    /*margin: 11px;*/
}

.custom-icon-medicalkit {
    background-image: url(/assets/Medical_icons/medicalkit.png);
    height: 30px;
    width: 38px;
    background-repeat: no-repeat;
    /*margin: 11px;*/
}

.custom_box_shadow_header{
    color: #337ab7;
}
.custom_box_shadow_body{
    color: gray;
}
.custom_fa-2x {
    font-size: 22px !important;
}
.input-group-add
{
     padding-bottom:14px !important;
     position: relative;
     border-collapse: separate;
}
.body_font{
    font-size: 14px;
}

/*written by manohar for footer*/
/*
.footer .footer-inner .footer-content {
    position: fixed !important;
    background-color: white !important;
    z-index: 98;
    padding: 0px !important;
    left: 1px !important;
    right: 1px !important;
}
*/
/*written by manohar for footer*/
/*.main-container:before
{
    position: fixed !important;
}
*/

.input-group {
    /*padding-bottom: 12px;*/
}
body {
    margin-top: 0px;
    overflow-x: hidden;
}
.padding-0
{
    padding: 1px !important;
}
.red{
    color:red;
}
.font-16{
    font-size: 16px;
}